@charset "utf-8";
@import 'index';

.box-office-data {
	position: absolute;
	top: 246px;
	width: 100%;
  .box-office-chart {
    margin-top: 25px;
    display: flex;

		.data-text {
			flex: 1;
			font-size: 12px;
			color: #4A545E;
			margin-left: 20px;

			p {
				margin-bottom: 10px;

				.box-office-percent-0 {
					color: #FF5937;
				}

				.box-office-percent-1 {
					color: #FDAF29;
				}

				.box-office-percent-2 {
					color: #1985CD;
				}

				.box-office-percent {
					margin-right: 10px;
				}
			}
		}
	}
	.box-office-footer {
  	margin-bottom: 48px;
    background: #F5F5F5;
    padding-bottom: 16px;
    color: #7F828B;
    p {
		  font-size: 11px;
	    text-align: center;
	    padding-top: 10px;
	    line-height: 12px;
    }
	}
}
.box-office-overview {
	display: flex;
  text-align: center;
  height: 70px;
  align-items: center;
  border: {
  	bottom: 1px solid #F2F2F2;
  	top: 1px solid #F2F2F2;
  }

  li {
  	flex: 1;
  	p {

  		&:first-child {
    		font-size: nth(16px, 1);
    		color: #565D67;
  		}

  		&:last-child {
  			margin-top: 13px;
    		font-size: nth(12px, 1);
    		color: #B1B2B7;
  		}
  	}
  }
}