.head {
	height: 40px;
	width: 100%;
	background: #1587cd;
	position: fixed;
  z-index: 1000;
  text-align: center;
  line-height: 40px;
  
  .head-back {
    float: left;
    display: inline-block;
    width: 40px;
    &:after {
      content: "";
      display: inline-block;
      transform: rotate(135deg);
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      border-left: none;
      border-top: none;
    }
  }

  .head-title {
    line-height: 40px;
    color: white;
    font-size: 18px;
    margin-left: -40px;
  }

}